@model BitsolMeritInSchoolSystem.Models.MonthlySalarySlip

@{
    ViewBag.Title = "Details";
    if (Session["Email"] == null)
    {

        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {

        Layout = "~/Views/Shared/_TeacherLayout2.cshtml";
    }
}

<h2>Monthly Salary Details</h2>

<div class="row">

    <div class="col-md-5">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
    </div>

    <div class="col-md-4">
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.CNIC)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CNIC)
            </dd>

        </dl>

    </div>


</div>


<div class="row">

    <div class="col-md-5">
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Salary)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Salary)
            </dd>
        </dl>
    </div>

    <div class="col-md-4">
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>


        </dl>

    </div>


</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MonthlySalarySlipId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
