<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <link href="~/Content/slidebar.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>

    <script src="~/Scripts/jquery-ui-1.12.0.min.js"></script>
   

    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
   

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


    <link href="~/Content/DataTables/css/dataTables.jqueryui.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">

                        @Html.ActionLink("Merit School", "Index", "Attendence", null, new { @class = "navbar-brand" })


                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">

                            <li>@Html.ActionLink("Attendence", "Index", "Attendence")</li>
                            <li>@Html.ActionLink("Administrator", "Admin", "Administrator")</li>


                        </ul>
                        <ul class="nav navbar-nav" style="float:right;">

                            <li><a href="#">@Session["Email"] </a></li>
                            <li>@Html.ActionLink("Logout", "Logout", "Home")</li>



                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </div> 
     <div class="row">

     
      <div class="col-md-12">
          <div class="container body-content">
              @RenderBody()
              <hr />
              <footer>
                  <p>&copy; @DateTime.Now.Year - Developed By <a href="www.goey.co" title="Web/Mobile Design, Development & Digital Marketing Agency "> Goey.Co </a></p>
              </footer>
          </div>
      </div>
  </div>

    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>

