<p><h3><b style="text-align:right;">Total Monthly Salary Expense : </b> @ViewBag.TotalMonthlySalaryExpense </h3></p>
<table class=" table table-hover" >
    <thead>
        <tr>
            <th>Name</th>
            <th>CNIC #</th>
            <th>Salary Amount</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var Temp in ViewBag.Expenses)
        {
            
            
        <tr>

            <td>@Temp.Name</td>
            <td>@Temp.CNIC</td>
            <td>@Temp.Salary</td>
            <td>@Temp.Date</td>

        </tr>
        
        }

    </tbody>
   

</table>
