@model BitsolMeritInSchoolSystem.Models.MonthlyFee

@{
    ViewBag.Title = "Delete";
    if (Session["Email"] == null)
    {

        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {

        Layout = "~/Views/Shared/_TeacherLayout2.cshtml";
    }
}


<div class="container">

    <div class="col-md-12">

        <h3>Are you sure you want to delete this?</h3>
    
            <h4>MonthlyFee</h4>
            <hr />


            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ClassSection.Class.ClassName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ClassSection.Class.ClassName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ClassSection.Section.SectionName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ClassSection.Section.SectionName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Student.StudentName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Student.StudentName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FeeAmount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FeeAmount)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Date)
                </dd>

            </dl>

      
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Yes" class="btn btn-default" /> |
               

                <a href="../Index" class="btn btn-default btn-danger" >
                    No
                </a>
            </div>
        }
        



        </div>


    </div>



