@model BitsolMeritInSchoolSystem.Models.AnnualCharges

@{
    
        Layout = "~/Views/Shared/_Layout.cshtml";
  
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div class="container">
        <h4>AnnualCharges</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Student.StudentName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Student.StudentName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AnnualChargesDescription)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AnnualChargesDescription)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PaidAmount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PaidAmount)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.RemainingChargesAmount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RemainingChargesAmount)
            </dd>
            
    
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
    
        </dl>
        <p style="color: #330066 !important;">
            @Html.ActionLink("Edit", "Edit", new { id = Model.AnnualChargesId }) |
          
            <a href="../Index" class="btn btn-default"> Back</a>
        </p>
    </div>
   
</body>
</html>
