@model BitsolMeritInSchoolSystem.Models.AnnualCharges

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal container">
        <h4>AnnualCharges</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.AnnualChargesId)

        <div class="form-group">
            @Html.LabelFor(model => model.AnnualChargesDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnnualChargesDescription)
                @Html.ValidationMessageFor(model => model.AnnualChargesDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaidAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaidAmount)
                @Html.ValidationMessageFor(model => model.PaidAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RemainingChargesAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RemainingChargesAmount)
                @Html.ValidationMessageFor(model => model.RemainingChargesAmount)
            </div>
        </div>





        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudentId, "StudentId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StudentId", String.Empty)
                @Html.ValidationMessageFor(model => model.StudentId)
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
            <a href="../Index" class="btn btn-default"> Back</a>
        </div>
       
    </div>
    }
    
   
</body>
</html>
