@model BitsolMeritInSchoolSystem.Models.ClassSection

@{
    ViewBag.Title = "Details";
    if (Session["Email"] == null)
    {

        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {

        Layout = "~/Views/Shared/_TeacherLayout2.cshtml";
    }
}

<h2>Class/Section Details</h2>
<div class="row">

    <div class="col-md-5">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Class.ClassName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Class.ClassName)
            </dd>
        </dl>
    </div>

    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Section.SectionName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Section.SectionName)
            </dd>
        </dl>

    </div>


</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClassSectionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
