@model IEnumerable<BitsolMeritInSchoolSystem.Models.User>

@{
    ViewBag.Title = "Index";
    if (Session["Email"] == null)
    {

        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {

        Layout = "~/Views/Shared/_Layout2.cshtml";
    }
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Add New User", "Create", null, new { @class = "btn btn-primary" })
   
</p>
<table class="table" id="Users">
   <thead>
       <tr>
           <th>
               @Html.DisplayNameFor(model => model.UserName)
           </th>
           <th>
               @Html.DisplayNameFor(model => model.Password)
           </th>
           <th>
               @Html.DisplayNameFor(model => model.UserRole)
           </th>
           <th></th>
       </tr>
   </thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserRole)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-success" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-sm btn-info" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })
            </td>
        </tr>
    }
</tbody>

</table>
<script>
    $("#Users").DataTable();

</script>