@model IEnumerable<BitsolMeritInSchoolSystem.Models.Class>

@{
    ViewBag.Title = "Index";
    if (Session["Email"] == null)
    {

        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {

        Layout = "~/Views/Shared/_Layout2.cshtml";
    }
}

<h2>Classes</h2>

<p>
    @Html.ActionLink("Add Class +", "Create", null, new { @class = "btn btn-primary" }) 
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClassName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ClassId }, new { @class = "btn btn-sm btn-success" }) |
            @Html.ActionLink("Details", "Details", new { id = item.ClassId }, new { @class = "btn btn-sm btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ClassId }, new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>
