@model BitsolMeritInSchoolSystem.Models.StaffMember

@{
    ViewBag.Title = "Details";
    if (Session["Email"] == null)
    {

        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {

        Layout = "~/Views/Shared/_TeacherLayout2.cshtml";
    }
}

<h2>Employee Details</h2>
<div class="row">

    <div class="col-md-5">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.StaffMemberName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StaffMemberName)
            </dd>
        </dl>
    </div>

    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.StaffMemberFatherName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StaffMemberFatherName)
            </dd>
        </dl>

    </div>


</div>

<div class="row">

    <div class="col-md-5">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.StaffMemberContactNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StaffMemberContactNo)
            </dd>
        </dl>
    </div>

    <div class="col-md-4">
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.StaffMemberCNIC)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StaffMemberCNIC)
            </dd>

        </dl>

    </div>


</div>

<div class="row">

    <div class="col-md-5">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.HiringDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HiringDate)
            </dd>
        </dl>
    </div>

    <div class="col-md-4">
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.StaffMemberEmail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StaffMemberEmail)
            </dd>

        </dl>

    </div>


</div>

<div class="row">

    <div class="col-md-5">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>
        </dl>
    </div>

    <div class="col-md-4">
        <dl class="dl-horizontal">


            <dt>
                @Html.DisplayNameFor(model => model.Designation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Designation)
            </dd>

        </dl>

    </div>


</div>

<div class="row">

    <div class="col-md-5">
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Qualification)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Qualification)
            </dd>
        </dl>
    </div>

    <div class="col-md-4">
        <dl class="dl-horizontal">




            <dt>
                @Html.DisplayNameFor(model => model.Salary)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Salary)
            </dd>

        </dl>

    </div>


</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StaffMemberId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
